@import url(footer.css);
@import url(header.css);
body{
    background:url(../img/textures/background.jpeg) ; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
.card-group{
    width: 300px;
    margin: 20px;
}
.card-body h4{
    color: chocolate;
}
.cardsCharacters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}